<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <div class="container">
        <h1 style="text-align: center; color: #55190a;" >Events</h1><hr>
    {% for event in events %}
            <h2>Event name: {{event.title}}</h2>
            <p>{{event.description}}</p><br>
            <p>{{event.date| date:"F d, Y"}}</p>
            <p>{{event.time| time:"h A"}}</p>
            <p>{{event.venue}}</p><hr>
    {%endfor%}
</body>
</html>