<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    {% for event in events %}
        <div class="container">
            <h1>Events</h1>
            <h2>{{event.title}}</h2>
            <p>{{event.description}}</p><br>
            <p>{{event.date| date:"F d, Y"}}</p>
            <p>{{event.time| time:"h A"}}</p>
            <p>{{event.venue}}</p>

    {%endfor%}
</body>
</html>