{% extends "home/index.html"%}

{% block content %}
<header>
    <h1>Welcome to our website!</h1><br>
    <h3>you are at the {{name}} page</h3>
</header>
<nav>
    <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Services</a></li>
        <li><a href="#">Contact</a></li>
    </ul>
</nav>
<main>
    <p>This is the content of our home page.</p>
</main>
<footer>
    <p>&copy; 2023 Your Website. All rights reserved.</p>
</footer>
{% endblock content %}