{% extends "home/index.html"%}

{% block content %}
<div class="header">
    <div class="container">
        <nav>
            <img src="image/images.jpg"  class="logo">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="{% url 'about' %}">About us</a></li>
                <li><a href="{% url 'events' %}">Events</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </nav>
        <div class="header-text">
            <h1>Welcome to IETE!</h1><br>
            <h3>Learning Today,Leading Tomorrow</h3>
        </div>
    </div>
</div>

{% endblock content %}